<div class="row">
    <div class="col-12 center {{this.flashClass}}">{{messages.info}}</div>
</div>
</div>

<div class="row center">
    <div class="col-3"></div>
    <div class="col-6">
        <table align="center">
            <tr>
                <th>Weekday</th>
                <th>Waiters</th>
            </tr>
            <tr>
                <td>Monday</td>
                <td class="{{this.status.Monday}}">{{this.count.Monday}}</td>
            </tr>
            <tr>
                <td>Tuesday</td>
                <td class="{{this.status.Tuesday}}">{{this.count.Tuesday}}</td>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td class="{{this.status.Wednesday}}">{{this.count.Wednesday}}</td>
            </tr>
            <tr>
                <td>Thursday</td>
                <td class="{{this.status.Thursday}}">{{this.count.Thursday}}</td>
            </tr>
            <tr>
                <td>Friday</td>
                <td class="{{this.status.Friday}}">{{this.count.Friday}}</td>
            </tr>
            <tr>
                <td>Saturday</td>
                <td class="{{this.status.Saturday}}">{{this.count.Saturday}}</td>
            </tr>
            <tr>
                <td>Sunday</td>
                <td class="{{this.status.Sunday}}">{{this.count.Sunday}}</td>
            </tr>

        </table>
    </div>

    <div class="col-3"></div>
</div>
<div class="row center">
    <div class="col-12">
        <form method="POST" action="/admin">
            <button type="submit">Reset</button>
        </form>
    </div>
</div>