<div class="row center">
    <div class="col-12">
        <h5>Some friendly message here</h5>
    </div>
</div>
<div class="row center">
    <div class="col-12 inblock">

        <h3>Monday :</h3>
        <h3 class="{{this.status.Monday}}">{{this.count.Monday}}</h3>
        <br>
        <h3>Tuesday</h3> :
        <h3 class="{{this.status.Tuesday}}">{{this.count.Tuesday}}</h3>
        <br>
        <h3>Wednesday : </h3>
        <h3 class="{{this.status.Wednesday}}">{{this.count.Wednesday}}</h3>
        <br>
        <h3>Thursday : </h3>
        <h3 class="{{this.status.Thursday}}">{{this.count.Thursday}}</h3>
        <br>
        <h3>Friday :</h3>
        <h3 class="{{this.status.Friday}}">{{this.count.Friday}}</h3>
        <br>
        <h3>Saturday : </h3>
        <h3 class="{{this.status.Saturday}}">{{this.count.Saturday}}</h3>
        <br>
        <h3>Sunday : </h3>
        <h3 class="{{this.status.Sunday}}">{{this.count.Sunday}}</h3>
    </div>
</div>