<div class="row">
    <div class="col-12 center {{this.flashClass}}">{{messages.info}}</div>
</div>
</div>

<div class="row center">
    <div class="col-4 indicators">
        <table>
            <tr>
                <th>Color</th>
                <th>Availability</th>
            </tr>
            <tr>
                <td>
                    <i class="far fa-circle ok"></i>
                </td>
                <td>3 waiters available</td>
            </tr>
            <tr>
                <td>
                    <i class="far fa-circle good"></i>
                </td>
                <td> More than 3 waiters available.</td>
            </tr>
            <tr>
                <td>
                    <i class="far fa-circle bad"></i>
                </td>
                <td>Less than 3 waiters available.</td>
            </tr>

        </table>

    </div>
    <div class="col-6">
        <table align="center">
            <tr>
                <th>Weekday</th>
                <th>Waiters</th>

            </tr>
            <tr>
                <td>Monday</td>
                <td class="{{this.status.Monday}}">{{this.updatedShifts.Monday}}</td>
            </tr>
            <tr>
                <td>Tuesday</td>
                <td class="{{this.status.Tuesday}}">{{this.updatedShifts.Tuesday}}</td>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td class="{{this.status.Wednesday}}">{{this.updatedShifts.Wednesday}}</td>
            </tr>
            <tr>
                <td>Thursday</td>
                <td class="{{this.status.Thursday}}">{{this.updatedShifts.Thursday}}</td>
            </tr>
            <tr>
                <td>Friday</td>
                <td class="{{this.status.Friday}}">{{this.updatedShifts.Friday}}</td>
            </tr>
            <tr>
                <td>Saturday</td>
                <td class="{{this.status.Saturday}}">{{this.updatedShifts.Saturday}}</td>
            </tr>
            <tr>
                <td>Sunday</td>
                <td class="{{this.status.Sunday}}">{{this.updatedShifts.Sunday}}</td>
            </tr>

        </table>
    </div>

    <div class="col-2"></div>
</div>

<div class="row center">
    <div class="col-12">
        <form class="" method="POST" action="/admin">
            <button type="submit">Reset</button>
        </form>
    </div>
</div>